@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Preahvihear&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@layer utilities{
    .gradient_img{
        background-image: url('Gradient.png');
        width: 100%;
        height: 100%;
    }
}